
:root {
    --bg0: #1d2021;
    --bg0s: #32302f;
    --bg1: #282828;
    --bg2: #3c3836;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --fg0: #fbf1c7;
    --white: #ffffff;
    --blue: #83a598;
    --blue2: #458588;
  }

  .top-right-left-container{
    flex: auto;
  }
  
  .top-right-right-container{
    margin-top: 15px;
    width: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
  }
  .dtlncal {
    all: unset;
    border: none;
    border-top: 1px dashed var(--blue);
    height: 1px;
    width: 100%;
    position:absolute;
    bottom: calc(50% - 2px)
  }

  

.calendar {
    position: relative;
    display: flex;
    width: auto;
    height: calc(100% - 20px);
    border: 1px solid var(--blue);
    background-color: var(--bg3);
  }
  .mon{
    flex: 1;
    background-color: var(--bg1);
  }
  
  .tue{
    background-color: var(--bg2);
    flex: 1;
  }
  
  .wed{
    background-color: var(--bg1);
    flex: 1;
  }
  
  .thur{
    background-color: var(--bg2);
    flex: 1;
  }
  
  .fri{
    background-color: var(--bg1);
    flex: 1;
  }
  
.top-right-container{
    margin: 5px;
    flex: 1.5;
    font-size: small;
    display: flex;
  }
  
.calendar-label{
    width: 93%;
    margin-left: 5px;
  }
  