  
:root {
    --bg0: #1d2021;
    --bg0s: #32302f;
    --bg1: #282828;
    --bg2: #3c3836;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --fg0: #fbf1c7;
    --white: #ffffff;
    --purple: #b16286;
  }

.courseView {
    display: flex;
    flex-direction: column;
}

.Classselect
{
  flex: 1;
  width: 99%;
  border: 2px solid var(--bg3);
  padding-bottom: 4px;
}

.listItem{
  display: flex;
  flex-direction: column;
}

.listItemTop{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:2px;
  margin-bottom: 0px;
  margin-top: 4px;
  padding-left: 15px;
  width: auto;
  height: 25px;
  border-radius: 2px/2px;
  background-color: var(--purple);
  display: flex;
  flex-direction: row;

}

.listItemBottom{
  flex: 1;
  width: auto;
  background-color: yellow;
  height: 20px;
  margin-left:2px;
  margin-right: 2px;
}

.listItemTop:hover{
  cursor:pointer;
}

.courseTitle{
  display: inline-block;
  margin-left: 20px;
  font-size: small;
  flex:1;
  vertical-align: middle;
  margin-top: 3px;
  text-wrap-mode:nowrap;
}

.courseDesc{
  width: auto;
}

.addButton{
  width: 35px;
  height:auto;
  border-left: 1px solid var(--bg0);
  text-align: center;
  font-weight: bold;
}




.courseView input{
    all: unset;
    width: calc(90%);
    padding: 2px;
    background-color: var(--bg0);
    border: 2px solid var(--bg4);
  }